{% extends 'admin/layout.html' %}

{% block content %}

<section class="py-5">
    <div class="row">
  
    <div class="container-fluid">
 
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                Grafikler
              </div>
              <div class="card-body">
                <div class="row">
                  <!-- Grafik 1 -->
                  <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                        <canvas id="kdalanGraph" width="400" height="400"
                        data-total-count="{{ total_count }}"
                        data-true-count="{{ true_count }}"></canvas>
                
                    </div>
                    </div>
                  </div>
                  <!-- Grafik 2 -->
                  <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                    <canvas id="grafik2" width="200" height="200"></canvas>
                    </div>
                    </div>
                  </div>
                  <!-- Grafik 3 -->
                  <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                    <canvas id="grafik3" width="200" height="200"></canvas>
                    </div>
                    </div>
                  </div>
                  <!-- Grafik 4 -->
                  <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                    <canvas id="grafik4" width="200" height="200"></canvas>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      

      <br>
    
      <div class="card mb-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="h6 text-uppercase mb-0">Harita</h3>
          <!-- Arama Çubuğu -->
          <input type="text" id="search-box" onkeyup="searchFeature()" placeholder="Ada/Parsel ara" class="form-control w-auto">
      </div>
        <div class="card-body">
          <div class="row gx-5 bg-white">
            <!-- Harita için Konteyner 
            <div id="mapContainer" style="height: 600px; width: 100%;"></div> -->
            <label class="switch">
              <input type="checkbox" id="ybizdenCheckbox">
              <span class="slider round"></span>
            </label>
            Yarısı Bizden
            
            <label class="switch">
              <input type="checkbox" id="ortahasarCheckbox">
              <span class="slider round"></span>
            </label>
            Orta Hasar
            
            <label class="switch">
              <input type="checkbox" id="kdalanCheckbox">
              <span class="slider round"></span>
            </label>
            Çalışma Yapılan Alanlar
            
            <div id="map" class="map" style="height: 800px; width: 100%;"></div>
            





          </div>
        </div>
      </div>
    </div>
      
  </div>
  
  </section>


  
  

{% endblock %}
