{% extends "frontend/layout.html" %}
{% block title %}Kentsel Dönüşüm Durum Sorgulama{% endblock title %}

{% block icerik %}
<section>
    <div class="container">
        <header class="section header mb-12">
            <h2>Kentsel Dönüşüm Durum Sorgulama</h2>
            <p class="lead">Hesap Detayları.</p>
        </header>
        <div class="row">
            <div class="col-md-6">
                {% if sorgu_sonuclari %}
                    {% for sonuc in sorgu_sonuclari %}
                        <div class="card text-block">
                            <div class="card-body">
                                <h3 class="card-title">Hoşgeldiniz, {{ sonuc['isim'] }}</h3>
                                <p class="card-text">Ada: {{ sonuc['ada'] }}</p>
                                <p class="card-text">Parsel: {{ sonuc['parsel'] }}</p>
                                <p class="card-text">Arsa Alanı: {{ sonuc['arsaalan'] }} m²</p>
                                <p class="card-text">Kişi Başı Arsa Alanı: {{ sonuc['kisiarsaalan'] }} m²</p>
                                <p class="card-text">Mevcut İmar Durumu: {{ sonuc['mvid_hisseoran']|round(2) }} m²</p>
                                <p class="card-text">Kentsel Dönüşüm Sonrası İmar Durumu: {{ sonuc['kdsid_hisseoran']|round(2) }} m²</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Sorgu sonucu bulunamadı.</p>
                {% endif %}
            </div>
            <!-- Diğer sütunlar ve içerikler -->
            <div class="col-md-6">
                
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-block">
                            <div class="card-body">
                                <p class="card-text">Kentsel Dönüşüm Sonrasu İmar Durumu <strong>(%50)</strong> Oranında Mal Sahibine Kalacak Şekilde Kentsel Dönüşüm Sonrası Alan: <strong style="font-size: larger; font-weight: bold;">{{ (sorgu_sonuclari[0]['kdsid_hisseoran'] * 0.5)|round(2) }} m²</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-block">
                            <div class="card-body">
                                <p class="card-text">Daire Başı <strong>OTOPARK ÜCRETİ</strong> için; Ödenmesi Gereken Miktar: <strong style="font-size: larger; font-weight: bold;">250.000TL</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card text-block">
                            <div class="card-body">
                                <p class="card-text">Tamamlanması gereken <strong>m² Fiyatı</strong> için; Ödenmesi Gereken Miktar(2,5 Ton Demir): <strong style="font-size: larger; font-weight: bold;">{{ 2.5*23280 }} TL</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="container-fluid">
                <br>
                <br>
                
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                  <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <div class="mx-3 d-flex flex-column align-items-center">
                            <i class="fas fa-building fa-2x"></i>
                            
                          </div>
                          <div class="number"><strong class="text-lg"></strong>
                            <p class="card-text"><strong>2+1 80m2 Daire</strong></p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Item -->
                  <div class="col-xl-9 col-sm-6 py-4 border-lg-end border-gray-200">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <div class="mx-3 d-flex flex-column align-items-center">
                            <i class="fas fa-building fa-2x"></i>
                            
                          </div>
                          <div class="number">
                            <p class="card-text">
                              {% set toplam_alan = sorgu_sonuclari[0]['kdsid_hisseoran'] * 0.5 %}
                              {% set tam_daire_sayisi = (toplam_alan // 80) %}
                              {% set kalan_m2 = toplam_alan % 80 %}
                              {% set eklenmesi_gereken_m2 = 80 - kalan_m2 %}
                              {% set odenmesi_gereken_tl_ek = (eklenmesi_gereken_m2 * 2.5 * 23280) %}
                              
                              {% if toplam_alan < 80 %}
                                  <strong>1 daire için</strong>, 80m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                  <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                  Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                              {% else %}
                                  {% if tam_daire_sayisi > 0 %}
                                      <strong>{{ tam_daire_sayisi }} adet KAT BRÜTÜ 80m² Daire Hakkınız var.</strong>
                                  {% endif %}
                                  {% if kalan_m2 > 0 %}
                                      <br>Kalan hakkınız olan <strong>{{ kalan_m2|round(2) }} m²</strong> ile, 
                                      Extra Daire için 80m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                      <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                      Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                  {% endif %}
                              {% endif %}
                          </p>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                 
                  
                  <!-- Diğer içerikler burada gelecek -->
                </div>
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="mx-3 d-flex flex-column align-items-center">
                              <i class="fas fa-building fa-2x"></i>
                              
                            </div>
                            <div class="number"><strong class="text-lg"></strong>
                              <p class="card-text"><strong>2+1 85m2 Daire</strong></p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-9 col-sm-6 py-4 border-lg-end border-gray-200">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="mx-3 d-flex flex-column align-items-center">
                              <i class="fas fa-building fa-2x"></i>
                              
                            </div>
                            <div class="number">
                              <p class="card-text">
                                {% set toplam_alan = sorgu_sonuclari[0]['kdsid_hisseoran'] * 0.5 %}
                                {% set tam_daire_sayisi = (toplam_alan // 85) %}
                                {% set kalan_m2 = toplam_alan % 85 %}
                                {% set eklenmesi_gereken_m2 = 85 - kalan_m2 %}
                                {% set odenmesi_gereken_tl_ek = (eklenmesi_gereken_m2 * 2.5 * 23280) %}
                                
                                {% if toplam_alan < 85 %}
                                    <strong>1 daire için</strong>, 85m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                    <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                    Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                {% else %}
                                    {% if tam_daire_sayisi > 0 %}
                                        <strong>{{ tam_daire_sayisi }} adet KAT BRÜTÜ 85m² Daire Hakkınız var.</strong>
                                    {% endif %}
                                    {% if kalan_m2 > 0 %}
                                        <br>Kalan hakkınız olan <strong>{{ kalan_m2|round(2) }} m²</strong> ile, 
                                        Extra Daire için 85m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                        <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                        Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                    {% endif %}
                                {% endif %}
                            </p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    
                    <!-- Diğer içerikler burada gelecek -->
                  </div>
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex align-items-center">
                              <div class="mx-3 d-flex flex-column align-items-center">
                                <i class="fas fa-building fa-2x"></i>
                                
                              </div>
                              <div class="number"><strong class="text-lg"></strong>
                                <p class="card-text"><strong>3+1 95m2 Daire</strong></p>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- Item -->
                    <div class="col-xl-9 col-sm-6 py-4 border-lg-end border-gray-200">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="mx-3 d-flex flex-column align-items-center">
                              <i class="fas fa-building fa-2x"></i>
                              
                            </div>
                            <div class="number">
                              <p class="card-text">
                                {% set toplam_alan = sorgu_sonuclari[0]['kdsid_hisseoran'] * 0.5 %}
                                {% set tam_daire_sayisi = (toplam_alan // 95) %}
                                {% set kalan_m2 = toplam_alan % 95 %}
                                {% set eklenmesi_gereken_m2 = 95 - kalan_m2 %}
                                {% set odenmesi_gereken_tl_ek = (eklenmesi_gereken_m2 * 2.5 * 23280) %}
                                
                                {% if toplam_alan < 95 %}
                                    <strong>1 daire için</strong>, 95m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                    <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                    Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                {% else %}
                                    {% if tam_daire_sayisi > 0 %}
                                        <strong>{{ tam_daire_sayisi }} adet KAT BRÜTÜ 95m² Daire Hakkınız var.</strong>
                                    {% endif %}
                                    {% if kalan_m2 > 0 %}
                                        <br>Kalan hakkınız olan <strong>{{ kalan_m2|round(2) }} m²</strong> ile, 
                                        Extra Daire için 95m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                        <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                        Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                    {% endif %}
                                {% endif %}
                            </p>
                          </div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    
                   
                    
                    <!-- Diğer içerikler burada gelecek -->
                  </div>
                  <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="mx-3 d-flex flex-column align-items-center">
                              <i class="fas fa-building fa-2x"></i>
                              
                            </div>
                            <div class="number"><strong class="text-lg"></strong>
                              <p class="card-text"><strong>3+1 95m2 Daire</strong></p>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-9 col-sm-6 py-4 border-lg-end border-gray-200">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="mx-3 d-flex flex-column align-items-center">
                              <i class="fas fa-building fa-2x"></i>
                              
                            </div>
                            <div class="number">
                              <p class="card-text">
                                {% set toplam_alan = sorgu_sonuclari[0]['kdsid_hisseoran'] * 0.5 %}
                                {% set tam_daire_sayisi = (toplam_alan // 100) %}
                                {% set kalan_m2 = toplam_alan % 100 %}
                                {% set eklenmesi_gereken_m2 = 100 - kalan_m2 %}
                                {% set odenmesi_gereken_tl_ek = (eklenmesi_gereken_m2 * 2.5 * 23280) %}
                                
                                {% if toplam_alan < 100 %}
                                    <strong>1 daire için</strong>, 100m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                    <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                    Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                {% else %}
                                    {% if tam_daire_sayisi > 0 %}
                                        <strong>{{ tam_daire_sayisi }} adet KAT BRÜTÜ 100m² Daire Hakkınız var.</strong>
                                    {% endif %}
                                    {% if kalan_m2 > 0 %}
                                        <br>Kalan hakkınız olan <strong>{{ kalan_m2|round(2) }} m²</strong> ile, 
                                        Extra Daire için 100m²'ye tamamlamak üzere eklenmesi gereken miktar: 
                                        <strong>{{ eklenmesi_gereken_m2|round(2) }} m²</strong>,
                                        Bu miktarın maliyeti: <strong>{{ odenmesi_gereken_tl_ek|round(2) }} TL</strong>
                                    {% endif %}
                                {% endif %}
                            </p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    
                    <!-- Diğer içerikler burada gelecek -->
                  </div>
             
          </div>
        </div>
    </div>
</section>
{% endblock icerik %}
